nav.head{

    border: 20px solid #97b897;
    background-color:  #97b897;
    width: auto;
    
}
body{
    margin:0px;
    padding :0px;
   
}

h2 {
    display: inline;
    padding-left: 20px;
    padding-right: 40px;
font-size: 20px;
border: 10px;
}

#action {
    font-size: 18px;
}

p.underline {
    text-decoration: underline;
    padding-left: 20px;
    font-size: 18px;
}


input[type="text"], input[type= "email"]{
    width:150px;

}

.lbl{
    display:inline-block;
    width:170px;
    vertical-align: top;
    font-weight: bold;
}

.col-1 {
    display: inline-block;
    width: 400px;
    padding-left: 20px;
    padding-top: 0px;
    vertical-align: top;
    float: left;

}
.required
{
    color: red;
}
.controls{
    padding: 10px;
    vertical-align: top;
}


nav.foot{
    border: 1px solid lightgray;
    background-color:lightgray;
    width: 100%;
    position:absolute ;
    bottom: 0px;
    }
.Submit{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}
#addr{
    height: 8em;
}
.Submit input{
font-size: large;
background-color: green;
color: white;
}


.check-options{
    display:inline-block;
    padding-left:0px;
}
.form-select{
    width: 150px;
}

.col-2{
    display: inline-block;
    width: auto;
    padding-left: 8%;
    padding-top: 0px;
    vertical-align: top;
    float: left;

           }
